.container .t-img-box {display: none !important;}
.hidden-log {display: none !important;}
a[target="_blank"] > .img-responsive {display: none !important;}
.advertise {display: none !important;}
.t-img-box  img {display: none !important;}
.x-box {display: none !important;}
#adsbox {display: none !important;}
